<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button class="btn connect-button">Connect</button>
    <!-- <button class="btn connect-address">0x387832928328293</button> -->
    <div class="trade-container">
      <div class="trade-content">
        <h2>Transfer</h2>
        <p class="grayed">Network?</p>
        <!-- <div> <h5 class="grayed">From</h5><h5 class="grayed">To</h5> </div> -->
        <div class="network-selection">
            <div class="network-from">
               
                <select class="old-select">
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="sass">SASS</option>
                    <option value="javascript">Javascript</option>
                    <option value="jquery" selected>jQuery</option>
                </select>
            </div>
            <div class="network-to">
                
                <select class="old-select">
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="sass">SASS</option>
                    <option value="javascript">Javascript</option>
                    <option value="jquery" selected>jQuery</option>
                </select>
            </div>
            
        </div>
        <div class="trade-asset">
            <p class="grayed">select asset to transfer</p>
            <select class="asset-selection">
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="sass">SASS</option>
                <option value="javascript">Javascript</option>
                <option value="jquery" selected>jQuery</option>
            </select>
        </div>
        <div class="trade-amount">
            <p class="grayed">Amount</p>
            <input class="trade-amount-input" type="number" placeholder="Enter Amount">
        </div>
        <div>
            <button class="btn transfer-button"> Transfer</button>
        </div>
      </div>
    </div>
</body>
</html>